 <section data-ng-controller="TeamsController" data-ng-init="find()">
<div class="col-md-6">
     <div class="page-header">
        <h1>Erstelle ein neues Team</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <input type="text" data-ng-model="description" id="description" class="form-control" placeholder="Beschreibung" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Team hinzufügen">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div class="col-md-6">
   <div class="page-header">
        <h1>Deine Teams</h1>
    </div>

    {{teams}}
    <div class="list-group">
        <div class="panel panel-primary" data-ng-repeat="team in teams">
            <div class="panel-heading">
                <a href="/#!/team/{{team._id}}"><h2 class="panel-title" data-ng-bind="team.name"></h2></a>
            </div>
            <div class="panel-body">
                <h5 data-ng-bind="team.description"></h5>
                <div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == team.user._id))">
                    <a class="btn btn-primary" href="/#!/team/{{team._id}}/edit">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-primary" data-ng-click="remove(team);">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!teams.$resolved || teams.length">
        No Teams yet, why don't you <a href="/#!/teams/create">create one</a>?
    </div>
</div>
</section>