<section data-ng-controller="BuddyeventsController" data-ng-init="init()">
    <div class="btn-group" dropdown is-open="status.isopen">
        <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
            <span data-ng-if="team.name" data-ng-bind="team.name"></span>
            <span data-ng-if="!team.name">Wähle ein Team</span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation" data-ng-repeat="team in teams">
                <a role="menuitem" tabindex="-1" href="#!" data-ng-bind="team.name" data-ng-click="changeTeam($event, team._id)"></a>
            </li>
        </ul>
    </div>

    <div class="row" data-ng-if="team">

        <div class="col-md-6">
            <div class="page-header">
                <h1>Events von {{team.name}}</h1>
            </div>

            <div class="list-group">
                <div class="panel panel-primary" data-ng-repeat="buddyevent in team.buddyevents | orderBy : created">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{buddyevent.title}}</h2>
                    </div>
                    <div class="panel-body">
                        <h4>{{buddyevent.description}}</h4>
                        <p>Von: {{buddyevent.from | date: "dd. MMM yyyy, HH.mm"}} Uhr </p>
                        <p>Bis: {{buddyevent.to | date: "dd. MMM yyyy, HH.mm"}} Uhr</p>
                        <div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == team.user._id))">
                            <a class="btn btn-primary" href="/#!/buddyevents/{{buddyevent._id}}/edit">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                            <a class="btn btn-primary" data-ng-click="remove(buddyevent);">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="page-header">
                <h1>Erstelle einen neuen Event im Team {{team.name}}</h1>
            </div>
            <div class="col-md-12">
                <form class="form-horizontal" data-ng-submit="add()" novalidate>
                    <fieldset>
                        <div class="form-group">
                            <div class="controls">
                                <input type="text" data-ng-model="title" id="title" class="form-control" placeholder="Titel" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <input type="text" data-ng-model="description" id="description" class="form-control" placeholder="Beschreibung" required>
                            </div>
                        </div>

                        <div class="dropdown form-group">
                            <a class="dropdown-toggle js-toggle-dateFrom" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="">
                                <div class="input-append">
                                    <input type="text" class="form-control" placeholder="Von" data-ng-model="data.from">
                                    <span class="add-on"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="data.from" data-datetimepicker-config="{ dropdownSelector: '.js-toggle-dateFrom' }"></datetimepicker>
                            </ul>
                        </div>

                         <div class="dropdown form-group">
                            <a class="dropdown-toggle js-toggle-dateTo" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="">
                                <div class="input-append">
                                    <input type="text" class="form-control" placeholder="Bis" data-ng-model="data.to">
                                    <span class="add-on"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="data.to" data-datetimepicker-config="{ dropdownSelector: '.js-toggle-dateTo' }"></datetimepicker>
                            </ul>
                        </div>

                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="Member hinzufügen">
                        </div>
                        <div data-ng-show="error" class="text-danger">
                            <strong data-ng-bind="error"></strong>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!teams.$resolved || teams.length">
        No Teams yet, why don't you <a href="/#!/teams/create">create one</a>?
    </div>

    

</section>